.container {
	max-width: 1440px;
	margin: auto;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	position: relative;
	/* padding: 32px; */
	border-radius: 26px;
	height: 450px;
	z-index: 1;
}
.background {
	top: 0%;
	background: #ffffff 0% 0% no-repeat padding-box;
	opacity: 0.07;
	width: 1440px;
	height: 450px;
	border-radius: 26px;
}
.arrow {
	position: absolute;
	top: 10%;
	left: -84px;
	height: 250px;
	width: 436px;
	opacity: 1;
	z-index: 3;
	background: transparent url("../../assets/arrow.png") 0% 0% no-repeat
		padding-box;
}
.content {
	/* opacity: 0.07; */
	z-index: 2;
	position: absolute;
	top: 10%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.leftBg {
	width: 400px;
	height: 450px;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0.7;
	z-index: 1;
}
.rightBg {
	width: 400px;
	height: 450px;
	position: absolute;
	right: 0;
	top: 0;
	opacity: 0.7;
	z-index: 1;
}

.buttonContainer {
	margin-top: 24px;
	/* width: inherit; */
}
.input {
	background-color: transparent;
	border: 1px solid #ffffff;
	padding: 10px;
	margin: 10px;
	border-radius: 5px;
	height: 52px;
	width: 274px;
	color: white;
	text-align: left;
	font: normal normal 300 14px/17px Inter;
	letter-spacing: 0.22px;
}
.button {
	background: transparent linear-gradient(90deg, #4669b2 0%, #5985c4 100%) 0%
		0% no-repeat padding-box;
	border-radius: 6px;
	color: white;
	width: 230px;
	height: 56px;
	padding: 10px;
	text-align: center;
	font: normal normal medium 16px/1px Inter;
	letter-spacing: 0px;
	color: #ffffff;
}
.inputContainer {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 32px;
}
.title {
	color: white;
	text-align: center;
	font: normal normal bold 52px/63px Inter;
	letter-spacing: 0.52px;
	opacity: 1;
}

@media only screen and (max-width: 1000px) {
	.inputContainer {
		flex-direction: column;
	}
}
