.footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1440px;
    padding-top: 32px;
    padding-bottom: 32px;
    align-items: center;
    margin: auto;
}

.copyright {
    margin-right: 32px;
}

.socialLinks {
    margin-left: 16px;
}

.icon {
    /* height: 20px; */
    /* width: 25px; */
    margin: 10px;
}