
.a{fill:#484a9f;stroke:#afd7f2;}
.b{fill:none;stroke:#898989;}
.c{fill:#e3e4f1;opacity:0.278;}
.d{fill:#afd7f2;}
.e{fill:#b8b9da;}
.f{fill:#6f6f6f;}


.sidenavContainer {
    z-index: 10;
    position: absolute;
    top: 30%;
    right: 10%;
    position: fixed;
  
}