.app {
  position: relative;
  max-width: 100%;
  overflow: hidden;
}
a {
  text-decoration: none;
}

.content-section {
  margin-top: 64px;
}

.side-nav {
  position: absolute;
  top: 30%;
  left: 90%;
  position: fixed;
}